<div class="header-nav" style="display: flex;justify-content: space-between;align-items: center;">
  <div class="navlinks" style="display: flex; gap: 1rem;padding-left: 1rem;" >


        <a class="nav-links">Qui sommes-nous</a>


        <a class="nav-links">contacter nous</a>


        <a class="nav-links Active">Accueil</a>


  </div>
  <div class="logo">
    <div class="header-logo">
      <img src="/assets/EVENTS.png" style="width: 8rem ; height: auto;">
    </div>

  </div>
  <div class="nav-btns" style="display: flex; gap: 1rem ;padding-right: 1rem;">
    <button mat-flat-button>sign up </button>
    <button mat-stroked-button  >Login </button>

  </div>

</div>
