.concert-card {
  max-width: 25rem;
  margin: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.nouveau {
  background-color: #ff4081;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

mat-card-content h2 {
  margin-bottom: 8px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #1976d2;
}
