<mat-card class="concert-card">
  <div class="card-header">
    <mat-chip-set>
      <mat-chip>Concert</mat-chip>
      <mat-chip>Casablanca</mat-chip>
      <mat-chip>16-08-2024</mat-chip>
    </mat-chip-set>
    <span class="nouveau">Nouveau</span>
  </div>

  <img mat-card-image src="/assets/concert.jpg" alt="Maitre GIMS">

  <mat-card-content>
    <h2>Maitre GIMS - Jazzablanca</h2>
    <p>un concert innédit de Maitre Gims vous attend a Casa Anfa</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary">Details</button>
    <span class="price">100 DH</span>
  </mat-card-actions>
</mat-card>
