<div class="card-list-container">
  <div class="card-list-header" style="display: flex ;justify-content: space-between; ">
    <div class="card-list-title">
      <h3 style="font-weight: bold; margin-bottom: 0rem;">
        Evènements à ne pas manquer
      </h3>
      <p>Explorez une sélection d'événements sportifs et culturels incontournables.</p>
    </div>
    <div class="card-list-btn">
   <button mat-stroked-button>explorez plus</button>
    </div></div>
    <div class="cards-container" style="display: flex; flex-wrap: wrap;">

      @if (eventSharedService.events().length) {
        @for (event of eventSharedService.events(); track event.id) {
      <mat-card  class="concert-card-small">

          <img mat-card-image [src]="event.picture" alt="Maitre GIMS">

        <mat-card-content>
          <h3>{{ event.eventName }}</h3>
          <div class="chips">
          <mat-chip>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
            {{event.location}}
          </mat-chip>
          <mat-chip>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_month"></mat-icon>
            {{ event.eventDate | date :'dd-MM-yyyy' }}
          </mat-chip >
          </div>
          <p>{{ event.description }}</p>

        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: space-between;">
          <button mat-flat-button (click)="navigateToEventDetails(event.eventId)" >reserver </button>
          <span class="price">{{ event.ticketPrice }} DH </span>
        </mat-card-actions>

      </mat-card>
        }
      }
      @else {
        <p>Aucun événement trouvé.</p>
      }

    </div>

</div>



