<div class="card-list-container">
  <div class="card-list-header" style="display: flex ;justify-content: space-between; ">
    <div class="card-list-title">
      <h3 style="font-weight: bold; margin-bottom: 0rem;">
        Evènements à ne pas manquer
      </h3>
      <p>Explorez une sélection d'événements sportifs et culturels incontournables.</p>
    </div>
    <div class="card-list-btn">
   <button mat-stroked-button>explorez plus</button>
    </div></div>
    <div class="cards-container">
      <mat-card class="concert-card-small">

          <img mat-card-image src="/assets/concert.jpg" alt="Maitre GIMS">

        <mat-card-content>
          <h3>TIF a casablanca</h3>
          <div class="chips">
          <mat-chip>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
            Casablanca
          </mat-chip>
          <mat-chip>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_month"></mat-icon>
            17-06-2025
          </mat-chip>
          </div>
          <p>un concert innédit de Maitre Gims vous attend a Casa Anfa</p>

        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: space-between;">
          <button mat-flat-button >reserver </button>
          <span class="price">100 DH</span>
        </mat-card-actions>

      </mat-card>

    </div>

</div>



