
<div class="user-container container mt-5">
  <h2 class="text-center">Liste des Utilisateurs</h2>
  <ul class="user-list list-group mt-4">
    <li class="user-item list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of Getusers">
      <div>
        <div class="user-id">Number: {{user.userId}}</div>
        <div class="user-nom">Nom: {{user.name}}</div>
        <div class="user-nom">Username : {{user.username}}</div>
      </div>
      <div class="d-flex flex-wrap">
        <button class="btn btn-danger mr-2 mb-2" (click)="deleteUser(user.userId)">Delete</button>
        <!-- <a class="btn btn-success mr-2 mb-2" [routerLink]="['/add_compte',user.userId ]">Add Compte</a>
         <a class="btn btn-secondary mb-2" [routerLink]="['/get_Compte',user.userId ]">Show Compte</a>    -->
       </div>
     </li>
   </ul>
 </div>
