<div class="footer-container" style="display: grid; grid-template-columns: 20% 20% auto; padding: 2rem; grid-column-gap: 10rem;">
  <div class="right-info-container" style="justify-content: center;">
    <img src="/assets/EVENTS.png" style="width: 16rem ; height: auto;">
   <p> Un site de billetterie nouvelle génération vous offrant la possibilité  d’acheter en ligne des tickets pour les événements de votre choix. Sa  vocation est de vous proposer l’offre de concerts, sports, spectacles,  cinéma, festivals, théâtre, humour, voyages et evasions la plus large du  Maroc en collaboration avec les organisateurs d’événements.</p>
  </div>
  <div class="middle-info-container">
    <h2>hello Events </h2>
    <ul>
      <li>Qui sommes-nous</li>
      <li>Contacter nous</li>
      <li>Mentions légales</li>
      <li>conditions d'annulation</li>
      <li>Conditions de vente</li>
    </ul>

  </div>
  <div class="right-info-container">
    <ng-container>
      <div>
        <h1> here the newsletter</h1>
      </div>
    </ng-container>


  </div>




</div>
