<div class="search-and-filter" >

  <mat-form-field appearance="outline">
  <mat-label>Trouver un évenement </mat-label>
  <!--<mat-icon >alarm_off</mat-icon>-->
  <input matInput placeholder="rentrer le nom ici">

 </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Où ?</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Quand ?</mat-label>
    <!--<mat-icon >alarm_off</mat-icon>-->
    <input matInput placeholder="Date">
  </mat-form-field>
  <button mat-flat-button class="btn-search">c'est Parti ! </button>

</div>
