<div class="body-hero">
  <div class="hero-title">
    <h1> Découvrez de nouveaux horizons, vivez de nouvelles expériences. </h1>
  </div>
  <div class="hero-carousel">
    <mat-card class="concert-card">
      <div class="card-header">
        <mat-chip-set>
          <mat-chip>Concert</mat-chip>
          <mat-chip>Casablanca</mat-chip>
          <mat-chip>16-08-2024</mat-chip>
        </mat-chip-set>
        <span class="nouveau">Nouveau</span>
      </div>

      <img mat-card-image src="path_to_image.jpg" alt="Maitre GIMS">

      <mat-card-content>
        <h2>Maitre GIMS - Jazzablanca</h2>
        <p>un concert innédit de Maitre Gims vous attend a Casa Anfa</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary">Details</button>
        <span class="price">100 DH</span>
      </mat-card-actions>
    </mat-card>
  </div>


</div>
